@import '~bootstrap/scss/bootstrap';

$font-family:'Playfair Display', serif;
$body-bg-color: white;
$box-bg-color: lightgrey;
$box-border-color: white;
$alt-bg-color: rgb(0, 136, 255);

body {
  background-color: $body-bg-color;
}

// .container {
//   display: hidden;
// }

.box {
  align-items: center;
  background-color: $box-bg-color;
  border: 1px solid $box-border-color;
  color: $box-border-color;
  display: flex;
  font-family: $font-family;
  height: 80px;
  justify-content: center;
}

h1, h3 {
  font-family: $font-family;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}

#auth-display {
  display: flex;
  justify-content: center;
}

#change-password-form {
  padding-bottom: 25px;
}

#new-game {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

#game-display {
  display: flex;
  justify-content: center;
  position: relative;
}

#board-display {
  display: flex;
  justify-content: center;
  height: 20px;
  visibility: visible;
}

#sign-out {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
input {
  margin: 2px 2px;
}

.alt-color {
  background-color: $alt-bg-color;
} 

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin: 2px 2px;
}
