@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&display=swap');

//mostly bootstrap grid
$font-family:'Playfair Display', serif;
$body-bg-color: white;
$box-bg-color: lightgrey;
$box-border-color: #DEF2F1;
$alt-bg-color: #2B7A78;

body {
  background-color: #DEF2F1;
  font-family: 'Fredericka the Great', serif;
}

.box {
  align-items: center;
  background-color: $box-bg-color;
  border: 1px solid $box-border-color;
  color: $box-border-color;
  display: flex;
  font-family: $font-family;
  height: 80px;
  justify-content: center;
  font-family: 'Fredericka the Great', serif;
}

h1{
  font-family: 'Fredericka the Great', serif;
  display: flex;
  justify-content: center;
  line-height: 50px;
  margin-top: 30px;
  font-size: 400%;
} 

h3 {
  font-family: 'Fredericka the Great', serif;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (min-width: 300px) {
  form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}

#auth-display {
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', serif;
  margin-top: 30px;
}

#change-password-form {
  padding-bottom: 25px;
}

#new-game {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

#game-display {
  display: flex;
  justify-content: center;
  position: relative;
}

#board-display {
  display: flex;
  justify-content: center;
  height: 20px;
  visibility: visible;
  font-family: 'Fredericka the Great', serif;
  margin-top: 20px;
}

#sign-out {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
input {
  margin: 2px 2px;
}

.alt-color {
  background-color: $alt-bg-color;
} 

button {
  background-color: #3AAFA9;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin: 2px 2px;
}
